
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Recoleta;
    src: url(../fonts/);
}

a{
        text-decoration: none;
}
li{
        list-style: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
    @media (max-width: 1170px){
        width: unset;
        padding: 0 30px;

    }
.header__burger{
    display:  none;
    @media (max-width: 650px) {
        display: contents;
    }
}
}
.first{
    background: #163A24;
}
.header{
    background: #163A24;
    padding: 25px 0;
    &__warp{
        display: flex;
        justify-content: space-between;
    }
    &__logo{

    }
    &__menu{
        display: flex;
        @media (max-width: 650px){
            display: none;
        }
        &__list{
            display: flex;
            align-items: center;
        }
        &__item{
            margin-right: 24px;
        }
        &__link{
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            /* identical to box height */
                
            text-align: right;
                
            color: #FBFAF7;               
        }

    }
    &__btn{
        background: #198C36;
        border-radius: 160px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
        display: flex;
        align-items: center;
        text-align: right;
        padding: 15px 25px;
        color: #FBFAF7;
    }
    &__burger{
        display: none;
        align-items: center;
        display: flex;
    }

}
.intro{
    &__warp{
        display: flex;
        align-items: center;
    }
    &__block{}
    &__title{
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        color: #FBFAF7;
    }
    &__text{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #FBFAF7;
    }
    &__img{
        width: 738px;
        height: 360;
        @media (max-width: 1200px){
            height: 360px;
            align-self: flex-end;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}     
//second
.second{

    padding-top: 120px;
    &__warp{
        display: flex;
        flex-direction: column;
    }
    &__block-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 393px;
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media(max-width: 965px){

            }
        }
    &__texts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 376px;
        @media (max-width: 965px) {
            margin-bottom: 30px;
            &last-of-type{
                order: 1;
            }
        }           
    }
    &__title{
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        color: #163A24;
        @media (max-width: 700px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__text{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #163A24;
        @media (max-width: 700px) {
            font-size: 36px;
            line-height: 40px;
        }
    }
    &__img{
        @media (max-width: 965px) {
        margin-bottom: 30px;
        &last-of-type{
            order: 1;
        }           
        }
        @media (max-width: 500px) {
        width: 300px;
        height: 280px;
        img{
            width: 100%;
            height: 100%;
        }            
        }        
    }
}
